body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111;
  color: white;
}

.hero {
  padding: 40px;
  background: #0f766e;
  color: white;
  text-align: center;
}

.cards {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.cards div {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.cards div:hover {
  transform: translateY(-10px);
}

.login {
  display: none;
  position: fixed;
  top: 30%;
  left: 40%;
  background: white;
  padding: 20px;
  border: 1px solid black;
}
